/* Style the parent container to center the content */
#mainFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    flex-direction: column; /* Stack paragraphs vertically */
    text-align: center; /* Center the text inside the container */
  } 
  
  #mainFrame p {
      font-size: 155px;
  }
  
  .typing-animation {
    font-family: 'Courier New', Courier, monospace; /* Typewriter font */
    font-size: 2.5em;
    white-space: nowrap; /* Prevent the text from wrapping */
    overflow: hidden; /* Hide the text initially */
    display: inline-block; /* Make the element take up only as much space as it needs */
    width: 0; /* Start width at 0 for the typing effect */
    border-right: 4px solid white; /* Create the cursor effect */
    animation: typing 5s steps(100) 0.5s forwards, blink-caret 0.75s step-end infinite;
    text-align: center; /* Center the text inside the p tag */
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%; /* Full width when typing is complete */
    }
  }
  
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
    100% {
      border-color: black;
    }
  }
  
  .typing-animation strong {
    color: #007bff; /* Styling for the highlighted text (dotnet, Angular) */
  }
  
  .typing-animation strong.dotnet {
    color: #0078d4; /* Example color for dotnet */
  }
  
  .typing-animation strong.angular {
    color: #e23237; /* Example color for Angular */
  }
  
  /* Style for the second paragraph */
  .welcome-message {
    font-family: 'Courier New', Courier, monospace; /* Same typewriter font */
    font-size: 1.5em;
    opacity: 0; /* Initially hidden */
    animation: fadeIn 5s ease 2.5s forwards; /* Fade in after 2.5 seconds */
    text-shadow: 3px 3px 5px rgb(0, 0, 0); 
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #experience .card {
    /* display: flex;
    flex-direction: column; */
    height: 100%;
}

#experience .card-body {
    flex-grow: 1; /* Makes sure the body section fills the available space */
}
  
  
  